# Node
node_modules/
nvm-windows/
npm-debug.log
yarn-error.log

# Env files
backend/.env
frontend/.env
.env.local

# Logs
logs
*.log
log.txt

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Dependencies
package-lock.json
pnpm-lock.yaml
yarn.lock

# OS files
.DS_Store
Thumbs.db
