# Node
node_modules/
nvm-windows/
npm-debug.log
yarn-error.log

# Env files
backend/.env
frontend/.env
.env.local

# Logs
logs
*.log
log.txt

# Build
dist/
build/
backend/uploads/*
!backend/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
