PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=lokalni_majstor
DB_PASSWORD=your-password
DB_PORT=5432
JWT_SECRET=your-secret-key
MAILTRAP_USER=your-mailtrap-user
MAILTRAP_PASS=your-mailtrap-pass