

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heart {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: 2px solid #d4d4d4;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    transition: background-color 150ms, ease, border-color 150ms ease;
}

.heart__icon {
    display: inline-flex;
    font-size: 1.5rem;
    transform-origin: center;
}

.heart__text {
    white-space: nowrap;
}

.heart--active {
    background: rgb(248, 250, 252);
    border-color: rgb(248, 113, 113);
    color: rgb(239, 68, 68);
}

.react-hot-toast {
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
}